    :root {
        --color-destacado: red;
        --color-primary: blue;
        --color-light: white;
    }
    header {
        color: var(--color-light);
        background: var(--color-primary);
    }
    
    .card__title {
        font-weight: bold;
    }
    .card_texto {
        margin-bottom: 1rem;
    }    
    .button {
        border: none;
        padding: 1rem 2rem;
        border-radius: 4px;
        cursor: pointer;
    }
    .button--primary {
        background: var(--color-destacado);
        color: var(--color-ligth);
    }
    .text-center {
    text-align: center;
    }

    .h1 {
        font-size: 2rem;
    }
    